@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

:root {
  font-family: "Montserrat", sans-serif;
}

@theme {
  --color-text-color: #252b42;
  --color-second-text-color: #737373;
  --color-light-text-color: #ffffff;
  --color-primary-color: #23a6f0;
}

@layer base {
  h3 {
    font-size: var(--text-2xl);
    font-weight: 700;
  }
  h6 {
    font-size: var(--text-sm);
    font-weight: 600;
  }
}

@layer components {
  .h1 {
    font-size: 58px;
    font-weight: 800;
  }
  .h2 {
    font-size: 40px;
    font-weight: 700;
  }
  .h3 {
    font-size: 24px;
    font-weight: 700;
  }
  .h4 {
    font-size: 20px;
    font-weight: 500;
  }
  .h5 {
    font-size: 16px;
    font-weight: 700;
  }
  .h6 {
    font-size: 14px;
    font-weight: 600;
  }
  .btn-text {
    font-size: 14px;
    font-weight: 700;
  }
  .mobile-menu {
    font-size: 30px;
    font-weight: 400;
  }
  .paragraph {
    font-size: 20px;
    font-weight: 500;
  }
  .list {
    font-size: 20px;
    font-weight: 400;
  }
  .link {
    font-size: 14px;
    font-weight: 600;
  }
}

body {
  color: #252b42;
}
